.card{
    display: flex;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    border:none !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-img-top{
    width: 250px;

}

.card-img-top img{
    width: 100%;
    object-fit: cover;
}

.card-group{
    gap: 30px;
}