<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:4000/newStudent" method="post">
        Name:
        <input type="text" name="sname" id="" /><br/>
        Roll number:
        <input type="text" name="rollNo" id="" /><br/>
        Destination:
        <!-- <input type="text" name="dest" id="" /><br/> -->
        <select name="dest" id="">
            <option value="Erode">Erode</option>
            <option value="Bhavani">Bhavani</option>
            <option value="Tirupur">Tirupur</option>
            <option value="Nasiyanur">Nasiyanur</option>
            <option value="Gobichettipalayam">Gobichettipalayam</option>
            <option value="Chennimalai">Chennimalai</option>
        </select>
        <br>
        Bus no:
        <input type="text" name="bno" id="" /><br/>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>